@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --big-1: 64px;
    --big-2: 45px;
    --small: 20px;
    --menu: 18px;
    --p-font: 16px;

    --global-width: 75%;
    --global-gap: 120px;
    --global-radius: 8px;

    --background: rgba(255, 144, 14, 0.10);
    --dark-1: #131313;
    --dark-2: #424242;
    --dark-3: #727272;
}

.btn-primary {
    color: #FFF;
    background: #FF900E;
    font-size: var(--small);
    font-weight: 600;
    padding: 20px 20px;
    border-radius: var(--global-radius);
    -webkit-border-radius: var(--global-radius);
    -moz-border-radius: var(--global-radius);
    -ms-border-radius: var(--global-radius);
    -o-border-radius: var(--global-radius);
    border: none;
    width: auto;
    width: fit-content;
}

.heading-1 {
    color: var(--dark-1);
    text-align: center;
    font-size: var(--big-1);
    font-weight: 700;
    text-align: center;
}

.heading-2 {
    color: var(--dark-1);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.heading-3 {
    color: var(--dark-1);
    font-size: var(--small);
    font-weight: 600;
    text-align: center;
}

.description {
    color: var(--dark-3);
    text-align: center;
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 26px;
}

.primary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: rgba(255, 144, 14, 0.10);
}

header nav {
    width: var(--global-width);
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 70px;
}

nav ul li a {
    text-decoration: none;
    font-size: var(--menu);
    color: var(--dark-2);
    font-weight: 500;
}

.banner-section {
    width: var(--global-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.banner-section h1, .banner-section p {
    max-width: 60%;
}

.banner-section img {
    max-width: 100%;
}

.feature-section {
    margin-top: var(--global-gap);
    width: var(--global-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feature-section .feature-info {
    margin: auto 0;
}

.feature-section .feature-info .wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature-section .img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.img-container img {
    max-width: 100%;
}

.feature-section .heading-2 {
    text-align: left;
}

.feature-section .heading-2 .quick-list {
    color: var(--dark-3);
    font-weight: 500;
}

.feature-section .heading-2 .features {
    color: #FF900E;

}

.feature-section .description {
    text-align: left;
}

/* service-section */
.service-section {
    margin-top: 90px;
    width: var(--global-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service-section .s-warpper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-section .s-warpper .heading-2, .s-warpper .description {
    width: 80%;
    text-align: left;
}

.service-section .heading-3 {
    text-align: left;
}

.service-section .s-feature {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.service-section .description {
    width: 100%;
}

.service-section .s-img-container {
    height: fit-content;
    width: fit-content;
    position: relative;
}

.service-section .s-img-container img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.service-section .s-img-container .experience {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 40px 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;

    position: absolute;
    left: -18%; /*because s-wrapper is 80%*/
    bottom: -10%;
}

.service-section .s-img-container .experience .big-txt {
    font-size: 60px;
    font-weight: 700;
}

/* fact-section */
.fact-section {
    margin-top: calc(var(--global-gap) - 25px);
    width: var(--global-width);
    position: relative;

}

.fact-section .f-wrapper {
    max-width: 45%;
}

.fact-section .f-wrapper .description, .f-wrapper .heading-2 {
    margin-top: 25px;
    text-align: left;
}

.fact-section .f-card-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    align-items: center;
    margin-top: calc(var(--global-gap) - 50px);
}

.f-card-container li {
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 250px;
    width: 250px;

    min-width: 0px;
    min-height: 0px;

    text-align: center;
    border-radius: var(--global-radius);
    -webkit-border-radius: var(--global-radius);
    -moz-border-radius: var(--global-radius);
    -ms-border-radius: var(--global-radius);
    -o-border-radius: var(--global-radius);
}

.f-card-container li h2 {
    color: var(--dark-2);
    font-size: 45px;
    font-weight: 600;
}

.f-card-container li span {
    color: var(--dark-3);
    font-size: 20px;
    font-weight: 600;
}

.sponspors-section {
    width: var(--global-width);
    margin-top: var(--global-gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sponspors-section .description {
    width: 40%;
}

.sponspors-section .sponspors-logo {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

footer .f-description {
    margin: var(--global-gap) 0;
    width: var(--global-width);
    text-align: center;
    padding: 40px;
    background: rgba(255, 144, 14, 0.10);

    font-size: 20px;
    font-weight: 400;
    color: var(--dark-2);
    line-height: 30px;
}

/* mobile devices */
@media screen and (max-width: 425px) {
    :root {
        --global-width: 100%;
        --global-gap: 50px;
    }

    header nav, nav ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav {
        gap: 30px
    }

    nav ul {
        gap: 15px;
    }

    .banner-section {
        padding: 0 1.8em;
    }

    .banner-section .heading-1, .banner-section .description {
        max-width: 100%;
    }

    .banner-section .description {
        text-align: justify;
    }

    .feature-section {
        grid-template-columns: 1fr;
        padding: 1.8em;
        place-items: center;
        gap: 30px;
    }

    .feature-section .img-container {
        grid-template-columns: 1fr;
    }

    .feature-section .feature-info .wrapper {
        width: 100%;
    }


    /* service-section */
    .service-section {
        padding: 1.8em;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .service-section .s-warpper {
        width: 100%;
    }

    .service-section .s-warpper .heading-2, .s-warpper .description {
        width: 100%;
        text-align: left;
    }

    .service-section .s-img-container .experience {
        width: fit-content;
        position: static;
        margin: 0 auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        padding: 20px;
        gap: 5px;
    }

    .service-section .s-img-container .experience .big-txt {
        font-size: 45px;
        font-weight: 700;
    }


    .fact-section {
        padding: 1.8em;
    }

    .fact-section .f-wrapper {
        max-width: 100%;
    }

    .fact-section .f-wrapper .description {
        margin-top: 25px;
        text-align: left;
    }

    .fact-section .f-card-container {
        margin-top: 40px;
        width: 100%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        place-items: center;
        gap: 10px;
    }

    .f-card-container li {
        height: 200px;
        max-width: 150px;

        min-width: 0px;
        min-height: 0px;
    }

    .sponspors-section {
        padding: 1.8em;
    }

    .sponspors-section .description {
        width: 100%;
    }

    .sponspors-section .sponspors-logo {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .f-description {
        width: 100%;
    }
}

/* tablet or medium devices */
@media screen and (min-width:425.1px) and (max-width: 960px) {
    :root {
        --global-width: 85%;
        --global-gap: 100px;
    }

    nav {
        flex-direction: column;
        gap: 30px;
    }

    nav ul {
        gap: 40px
    }

    /* banner-section */
    .banner-section .heading-1, .banner-section .description {
        max-width: 100%;
    }

    .feature-section {
        grid-template-columns: 1fr;
        place-items: center;
        gap: 30px;
    }

    .feature-section .img-container {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }

    .feature-section .feature-info .wrapper {
        width: 100%;
    }

    .service-section .s-img-container {
        height: 90vh;
    }

    .service-section .s-img-container .experience {
        position: static;
        margin: 0 auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        width: fit-content !important;
    }

    /* service-section */
    .service-section {
        padding: 1.8em;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .service-section .s-warpper {
        width: 100%;
    }

    .service-section .s-warpper .heading-2, .s-warpper .description {
        width: 100%;
        text-align: left;
    }

    .service-section .s-img-container .experience {
        padding: 40px 30px;
        width: 70%;
        bottom: 70px;
        left: 1em;
    }

    .service-section .s-img-container .experience .big-txt {
        font-size: 55px;
        font-weight: 700;
    }


    .fact-section .f-wrapper {
        max-width: 70%;
    }

    .fact-section .f-card-container {
        margin-top: 40px;
        width: 100%;
        grid-template-columns: repeat(2, auto);
        place-items: center;
        gap: 10px;
    }

    .f-card-container li {
        height: 250px;
        max-width: 250px;

        min-width: 0px;
        min-height: 0px;
    }

    .sponspors-section .description {
        width: 80%;
    }

    .sponspors-section .sponspors-logo {
        justify-content: center;
    }
}